@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Montserrat';
  src: url("/src/assets/Montserrat-Light.ttf");
}
@font-face {
  font-family: 'Cascadia Code';
  src: url("/src/assets/CascadiaCode.ttf");
}

.grad-text {
  background: linear-gradient(
    to right,
    #dd7878,
    #7287fd,
    #dd7878,
    #7287fd,
    #dd7878,
    #7287fd
  );
  background-size: 3000% 3000%;
}

.dark .d-grad-text {
  background: linear-gradient(
    to right,
    #fab387,
    #b4befe,
    #fab387,
    #b4befe,
    #fab387,
    #b4befe
  );
  background-size: 3000% 3000%;
}
